body{
    background-color: #d4e9e7;
}
/* modifies page header */
.LoneStarfish{
font-family: sans-serif;
color: white;
position: absolute;
top:50%;
left: 50%;
}


/* modifies article about starfish */
h2{
    font-family: sans-serif;
}
article img {
 width: 250px;
 height: 250px;
 float: left;
 padding: 10px;
}
article p {
font-family: sans-serif;
}
article ul {
font-family:sans-serif;
}

/* creates box that contains form */
form{
    font-family: sans-serif;
    border: 1px solid black;
    padding: 16px;
}

/* question in form */
h3{
    font-family: sans-serif;
    font-size: 16px;
}

/* modifies submit button */
.button {
    font-family:sans-serif;
    background:#d4e9e7;
    color:black;
    border-style:outset;
    border-color:black 1px;
    height:40px;
    width:65px;
}

/* copyright footer */
footer{
    font-family: sans-serif;
    text-align: right;
}